FOREMAN_DOMAIN=foreman.naman.sbs
FOREMAN_ALIAS_DOMAINS=foreman.namankundra.com
FOREMAN_DB_PASSWORD=replace-with-random-hex
FOREMAN_MINIO_USER=replace-with-random-hex
FOREMAN_MINIO_PASSWORD=replace-with-random-hex
COORDINATOR_SECRET=replace-with-random-hex
